@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Miltonian+Tattoo&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: "Astloch", system-ui;
    font-weight: 400;
    background-image: url("hearts.png");
    background-size: 10%;
    background-repeat: repeat;
  }
  
  .bb {
    background-image: url(wri.png), url(katu.jpeg);
    height: 100%; 
    background-position: 58% 90%, center;
    background-repeat: no-repeat;
    background-size: 20%, cover;
  }
  nav {
    /*background: white;*/
    background: linear-gradient(#f5f4f0, #f90603);
    width: 100%;
    margin: auto;
    text-align: right;
    padding-top: 1.25vw;
    text-decoration: none;
    position: fixed;
    bottom: 0;
  }
  nav+main {
    padding-bottom: 15%;
  }
    .grid { 
      display: grid;
      grid-template-columns: 15vw 80vw;
      grid-template-rows: auto;
    }

    .grid3 {
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-rows: auto;
        column-gap: 2vw;
        padding: 0 3vw;
    }
  
  footer{
      font-size: 1.4vw;
      text-align: center;
      clear: both;
      padding-top: 20px;
  }
  
  /*Text*/
  h1, h2, h3, h4, h5, h6 {
      font-weight: 300;
      line-height: 1.7vw;
      margin: 0 0 0.7em 0;
      color: white;
    }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
              color: inherit;
              text-decoration: none;
      }
      h1{        
          font-size: 2.7vw;
          text-transform: uppercase;
          font-family: "Miltonian Tattoo", serif;
          padding-top: 4vw;
          line-height: 0.5vw;
          
        }
        
        h2 {
          font-size: 2.5vw;
          font-family: "Miltonian Tattoo", serif;
          font-weight: 700;
          padding: 1vw;
        }
        
        h3 {
          font-size: 2vw;
          font-weight: 600;
          border: dashed white;
          padding: 0.5vw 0;
        }
        
        h4 {
          font-size: 1.5vw;
          padding: 1vw 2vw;
          font-family: "Miltonian Tattoo", serif;
          
        }
        
        h5 {
          font-size: 1.3vw;
          font-weight: bold;
        }
        
        h6 {
          font-size: 1vw;
        }
    a, a:visited {
            text-decoration: none;
            color: white;
            font-size: 2.5vw;
            font-weight: bold;
    }
    ul, li {
            list-style: none;
            padding: 1vw 3vw;
            font-size: 1.4vw;
            font-weight: 600;
            text-decoration: none;
            display: inline-block;
        }
        ul li a:hover {
            color: #e00c63;
            }
      footer {
        position: fixed;
        bottom: 0;
        left: 45%;
        z-index: 1;
      }