/* STYLE SHEET FOR INDEX.HTML */

body {
  font-size: 60%;
  font-family: 'MarkerFelt-Wide', sans-serif;
  background: linear-gradient(45deg, #a4c9fc, #61b3ff, #1c5b9e)
}

/*text*/
p {
  margin: 0 0 2em 0;
}

p.content {
      columns: 20em 2;
      column-gap: 2em;
      text-align: justify;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1;
  margin: 0 0 0.7em 0;
  letter-spacing: -0.025em;
  color: rgb(0, 0, 0);
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
          color: inherit;
          text-decoration: none;
  }
h1{        
  font-size: 2.7vw;
  line-height: 0.6;
  text-transform: uppercase;
  margin-top: 20px;
}

h2 {
  font-size: 2.4vw;
}

h3 {
  font-size: 2vw;
}

h4 {
  font-size: 1.6vw;
  font-family: 'MarkerFelt-Thin', sans-serif;
}

h5 {
  font-size: 1.3vw;
  font-family:sans-serif;
  font-weight: bold;
}

h6 {
  font-size: 1.2vw;
  font-family: 'MarkerFelt-Thin', sans-serif;
}
/* top*/
header {
  text-align: center;
  padding-bottom: 8vw;
}
/**/

footer {
  font-size: 80%;
  text-align: center;
  clear: both;
  padding-top: 20px;
}
main {
  background-color: #ffffff;
  width: 95.8%;
  margin: auto;
}

  .grid {
  display: grid;
  grid-template-columns: 48vw 41vw;
  grid-template-rows: auto;
  column-gap: 3vw;
  }

  .fourgrid {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: auto;
    column-gap: 3vw;
    padding: 2vw;
    }

article{
  text-align: center;
  padding-bottom: 4vw;
}


/*Nav*/
nav {
  font-weight: bold;
  background-color:  #f2e6c3;
  width: 95.8%;
  margin: auto;
  color: #93c3de;
  border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
  text-align: center;
  font-family:sans-serif;
  font-size: larger;
}
nav + main {
  padding-top: 5vw;
}
.button{
  display: block;
  border: 0.25vw solid #9da991;
  padding: 0.7vw 2vw;
  background: white;
  border-radius: 0.7vw;
  text-decoration: none;
  box-shadow: 1vw 1vw 1vw #888888;
}
/*Animation*/
#animation {
  position: relative;
  /* Safari and Chrome: */
  -webkit-animation-name: logoanimation;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-name: logoanimation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-play-state: running;
}
@font-face {
  font-family: oregonfont;
  src: url("../media/oregon book.ttf");
}
@keyframes logoanimation {
  0% {
      left: 100%;
      top: 0px;
  }
  50% {
      left: 0px;
      top: 0px;
  }
  100% {
      left: 0px;
      top: 0px;
  }
}

/**/

.floatright {
  float: right;
  clear: right;
  margin-bottom: 50px;
  padding-right: 30px;
}

#imgcen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

a, a:visited {
  text-decoration: none;
  color: #93c3de;
  font-size: 1.5vw;
}
ul, li {
  list-style: none;
  display: inline-block;
  padding: 1vw 3vw;
  vertical-align: middle;
  font-size: 1.5vw;
}
  #playlist>li{
    display: block;
    color:#a4c9fc
  }
ul li a:hover {
  background-color: #eab7b3;
}



